openapi: 3.0.3
info:
  title: AbetPartner API
  version: 1.0.0
  description: White-label, hierarchical multi-tenant management for agencies.
servers:
  - url: https://partner.abetworks.in/v1
security:
  - bearerAuth: []
paths:
  /workspaces:
    post:
      summary: Provision a new client workspace (isolated tenant)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [clientName]
              properties:
                clientName: { type: string }
                plan: { type: string }
      responses: { '201': { description: Created } }
    get:
      summary: List client workspaces
      responses: { '200': { description: OK } }
  /workspaces/{id}/grant:
    post:
      summary: Grant a role/scope on a workspace
      parameters: [ { name: id, in: path, required: true, schema: { type: string } } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [principal, role]
              properties:
                principal: { type: string }
                role: { type: string }
      responses: { '200': { description: Granted } }
  /workspaces/{id}/usage:
    post:
      summary: Record a metered usage event for a workspace
      parameters: [ { name: id, in: path, required: true, schema: { type: string } } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [metric, quantity]
              properties:
                metric: { type: string }
                quantity: { type: number }
      responses: { '202': { description: Recorded } }
  /billing/rollup:
    get:
      summary: Per-workspace usage + partner margin
      parameters: [ { name: period, in: query, schema: { type: string, example: 2026-06 } } ]
      responses: { '200': { description: OK } }
  /reports:
    post:
      summary: Generate a white-labelled client report
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [workspaceId, templateId]
              properties:
                workspaceId: { type: string }
                templateId: { type: string }
      responses: { '202': { description: Generating } }
components:
  securitySchemes:
    bearerAuth: { type: http, scheme: bearer, bearerFormat: JWT }
