openapi: 3.0.3
info:
  title: AbetRetain API
  version: 1.0.0
  description: Retention & CX AI for D2C / e-commerce.
servers:
  - url: https://retain.abetworks.in/v1
security:
  - bearerAuth: []
paths:
  /webhooks/commerce:
    post:
      summary: Inbound order/fulfilment webhook (Shopify/Woo/marketplace)
      responses: { '200': { description: Ack } }
  /journey/event:
    post:
      summary: Ingest a journey lifecycle event
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type]
              properties:
                type: { type: string }
                partyId: { type: string, format: uuid }
                payload: { type: object }
      responses: { '202': { description: Accepted } }
  /journeys/enroll:
    post:
      summary: Enroll a customer into a post-purchase/retention journey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: { partyId: { type: string, format: uuid } }
      responses: { '202': { description: Enrolled } }
  /support/resolve:
    post:
      summary: Resolve an order-support request (WISMO/return/exchange)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [orderId, type]
              properties:
                orderId: { type: string, format: uuid }
                type: { type: string, enum: [wismo, return, exchange] }
      responses: { '200': { description: OK } }
  /retention/{partyId}/score:
    get:
      summary: Explainable LTV / churn score
      parameters: [ { name: partyId, in: path, required: true, schema: { type: string, format: uuid } } ]
      responses: { '200': { description: OK } }
components:
  securitySchemes:
    bearerAuth: { type: http, scheme: bearer, bearerFormat: JWT }
