openapi: 3.0.3
info:
  title: AbetConcierge API
  version: 1.0.0
  description: WhatsApp-first conversational commerce concierge with CRM + GST quoting.
servers:
  - url: https://concierge.abetworks.in/v1
security:
  - bearerAuth: []
paths:
  /webhooks/whatsapp:
    get:
      summary: WhatsApp webhook verification handshake (BSP)
      parameters:
        - { name: hub.mode, in: query, schema: { type: string } }
        - { name: hub.challenge, in: query, schema: { type: string } }
        - { name: hub.verify_token, in: query, schema: { type: string } }
      responses: { '200': { description: Challenge echoed } }
    post:
      summary: Inbound WhatsApp webhook (BSP)
      responses: { '200': { description: Ack } }
  /inbound:
    post:
      summary: Route an inbound message to the concierge agent (cited answers only)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [conversationId, body]
              properties:
                conversationId: { type: string }
                body: { type: string }
      responses:
        '200':
          description: Agent reply with citations or escalation
          content:
            application/json:
              schema:
                type: object
                properties:
                  reply: { type: string }
                  citations: { type: array, items: { type: string } }
                  escalated: { type: boolean }
  /quotes:
    post:
      summary: Generate a GST-aware, multi-currency quote
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [recordId, items, currency]
              properties:
                recordId: { type: string, format: uuid }
                currency: { type: string, example: INR }
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      sku: { type: string }
                      qty: { type: integer }
      responses:
        '201':
          description: Quote
          content:
            application/json:
              schema:
                type: object
                properties:
                  subtotalMinor: { type: integer }
                  gstMinor: { type: integer }
                  totalMinor: { type: integer }
                  currency: { type: string }
  /outbound/guard:
    post:
      summary: Guard an outbound message against consent/policy before send
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [recordId, body]
              properties:
                recordId: { type: string, format: uuid }
                body: { type: string }
      responses:
        '200':
          description: Guard decision
          content:
            application/json:
              schema:
                type: object
                properties:
                  allowed: { type: boolean }
                  reasons: { type: array, items: { type: string } }
components:
  securitySchemes:
    bearerAuth: { type: http, scheme: bearer, bearerFormat: JWT }
