openapi: 3.0.3
info:
  title: AbetMigrate API
  version: 1.0.0
  description: Consolidation-as-a-Service migration platform.
servers:
  - url: https://migrate.abetworks.in/v1
security:
  - bearerAuth: []
paths:
  /extract:
    post:
      summary: Extract records from a configured source connector
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [source]
              properties:
                source: { type: string, enum: [salesforce, hubspot, pipedrive, zapier, helpdesk, csv] }
      responses: { '202': { description: Extraction started } }
  /reconcile:
    post:
      summary: Run dual-run reconciliation across extracted sources
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sources: { type: array, items: { type: string } }
      responses: { '200': { description: Reconciliation report } }
  /migrations/cutover:
    post:
      summary: Execute cutover (requires passed reconciliation)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                confirm: { type: boolean }
      responses:
        '202': { description: Cutover started }
        '412': { description: Reconciliation not passed }
  /migrations/{migrationId}/rollback:
    post:
      summary: Roll back a cutover
      parameters: [ { name: migrationId, in: path, required: true, schema: { type: string } } ]
      responses: { '202': { description: Rollback started } }
components:
  securitySchemes:
    bearerAuth: { type: http, scheme: bearer, bearerFormat: JWT }
